.node {
    border-left: 1px solid #c7c6c6;
}

.node ul{
    padding-left: 30px;
}

.node__title {
    color: #3aa934;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.node__title__focus {
    color: #f8b21c;
    border: none;
    outline: none 0;
}

.node__children {
    font-size: 20px;
}