.window {
    max-width: 900px;
    min-width: 400px;
    margin: 10px auto 0;
}

.title {
    font-size: 20px;
    color: #3aa934;
    text-align: center;
    padding: 5px;
    border: 1px solid #3aa934;
    border-bottom: none;
}

.tree {
    padding: 5px;
    border: 1px solid #3aa934;
    border-bottom: none;
}

.buttonBox {
    border: 1px solid #3aa934;
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.button {
    padding: 5px 20px;
    font-size: 20px;
    background-color: white;
    color: #383838;
    border: 2px solid #383838;
}

.button__add {
    color: #3aa934;
    border: 2px solid #3aa934;
    cursor: pointer;
}

.button__remove.active {
    color: #f6250e;
    border: 2px solid #f6250e;
    cursor: pointer;
}

.button__edit.active {
    color: #f6b31b;
    border: 2px solid #f6b31b;
    cursor: pointer;
}

.button__reset {
    color: #f6b31b;
    border: 2px solid #f6b31b;
    cursor: pointer;
}